.split > .split-10 {
	float: left;
	width: 10%;
}
.split > .split-20 {
	float: left;
	width: 20%;
}
.split > .split-30 {
	float: left;
	width: 30%;
}
.split > .split-40 {
	float: left;
	width: 40%;
}
.split > .split-50 {
	float: left;
	width: 50%;
}
.split > .split-60 {
	float: left;
	width: 60%;
}
.split > .split-70 {
	float: left;
	width: 70%;
}
.split > .split-80 {
	float: left;
	width: 80%;
}
.split > .split-90 {
	float: left;
	width: 90%;
}