:root {
	--col-pr0-real-gray: #161618;
	--col-pr0-real-gray-accent: #222222;
	--col-pr0-0range: #ee4d2e;
	--col-pr0-text: #f2f5f4;
	--col-pr0-text-white: #f5f7f6;
	--col-pr0-text-gray: #888888;
	--col-pr0-text-link: #75c0c7;
	--col-pr0-text-link-hover: #f5f7f6;
	--col-pr0-text-zomg: #fc8833;
	--col-pr0-cha0s-gray: #212121;
	--col-pr0-pr0mium: #f7c516;
	--col-pr0-sfw: #5cb85c;
	--col-pr0-nsfw: #f0ad4e;
	--col-pr0-nsfl: #d9534f;
	--col-pr0-comments-old-background: #2a2e31;
	--col-pr0-old-pr0gramm: #ff0082;
	--col-pr0-theme-0range: #ee4d2e;
	--col-pr0-theme-green: #1db992;
	--col-pr0-theme-olivegreen: #bfbc06;
	--col-pr0-theme-blue: #008fff;
	--col-pr0-theme-pink: #ff0082;
	--col-pr0-col-pr0orwar-red: #c52b2f;
	--col-pr0-col-pr0orwar-blue: #337fd2;
	--col-pr0-col-pr0orwar-blue-alt: #444444;
	--col-pr0-rank-banned: #444444;
	--col-pr0-rank-tiletable: #6c432b;
	--col-pr0-rank-newfag: #e108e9;
	--col-pr0-rank-fag: #ffffff;
	--col-pr0-rank-donor: #1cb992;
	--col-pr0-rank-oldfag: #5bb91c;
	--col-pr0-rank-midoldfag: #addc8d;
	--col-pr0-rank-dwarf: #1cb992;
	--col-pr0-rank-mod: #008fff;
	--col-pr0-rank-oldmod: #7fc7ff;
	--col-pr0-rank-admin: #ff9900;
	--col-pr0-rank-sysbot: #ffc166;
	--col-pr0-rank-userbot: #10366f;
	--col-pr0-rank-livinglegend: #1cb992;
	--col-pr0-rank-supporter: #c52b2f;
	--font-pr0: 400 14px/1.3 sans-serif, Helvetica, Arial;
}